<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.dao.DangdangUserMapper">
  <resultMap id="BaseResultMap" type="com.gxy.entity.DangdangUser">
    <!--@mbg.generated-->
    <!--@Table DANGDANG_USER-->
    <id column="DD_USER_ID" jdbcType="DECIMAL" property="ddUserId" />
    <result column="DD_USER_EMAIL" jdbcType="VARCHAR" property="ddUserEmail" />
    <result column="DD_USER_PASSWORD" jdbcType="VARCHAR" property="ddUserPassword" />
    <result column="DD_USER_NICKNAME" jdbcType="VARCHAR" property="ddUserNickName" />
    <result column="DD_USER_STATE" jdbcType="DECIMAL" property="ddUserState" />
    <result column="DD_USER_SALT" jdbcType="VARCHAR" property="ddUserSalt" />
    <result column="DD_USER_ROLE" jdbcType="VARCHAR" property="ddUserRole" />
    <result column="DD_USER_CREATE_DATE" jdbcType="TIMESTAMP" property="ddUserCreateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    DD_USER_ID, DD_USER_EMAIL, DD_USER_PASSWORD, DD_USER_NICKNAME, DD_USER_STATE, DD_USER_SALT, 
    DD_USER_ROLE, DD_USER_CREATE_DATE
  </sql>

  <insert id="insert" parameterType="com.gxy.entity.DangdangUser">
    <!--@mbg.generated-->
    insert into DANGDANG_USER (DD_USER_ID, DD_USER_EMAIL, DD_USER_PASSWORD,
    DD_USER_NICKNAME, DD_USER_STATE, DD_USER_SALT,
    DD_USER_ROLE)
    values (DD_USER_ID_SEQ.nextval, #{ddUserEmail,jdbcType=VARCHAR}, #{ddUserPassword,jdbcType=VARCHAR},
    #{ddUserNickName,jdbcType=VARCHAR}, #{ddUserState,jdbcType=DECIMAL}, #{ddUserSalt,jdbcType=VARCHAR},
    #{ddUserRole,jdbcType=VARCHAR})
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-27-->
  <select id="selectByDdUserEmailAndDdUserPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from DANGDANG_USER
    where DD_USER_EMAIL=#{ddUserEmail,jdbcType=VARCHAR} and DD_USER_PASSWORD=#{ddUserPassword,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-27-->
  <select id="selectDdUserSaltByDdUserEmail" resultType="string">
    select DD_USER_SALT
    from DANGDANG_USER
    where DD_USER_EMAIL=#{ddUserEmail,jdbcType=VARCHAR}
  </select>
</mapper>