<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.dao.DangdangAddressMapper">
  <resultMap id="BaseResultMap" type="com.gxy.entity.DangdangAddress">
    <!--@mbg.generated-->
    <!--@Table DANGDANG_ADDRESS-->
    <result column="ADDRESS_ID" jdbcType="DECIMAL" property="addressId" />
    <result column="ADDRESS_RECEIVE_NAME" jdbcType="VARCHAR" property="addressReceiveName" />
    <result column="ADDRESS_ADD" jdbcType="VARCHAR" property="addressAdd" />
    <result column="ADDRESS_MOBILE" jdbcType="VARCHAR" property="addressMobile" />
    <result column="ADDRESS_ZIPCODE" jdbcType="VARCHAR" property="addressZipcode" />
    <result column="ADDRESS_STATE" jdbcType="DECIMAL" property="addressState" />
    <result column="DD_USER_ID" jdbcType="DECIMAL" property="ddUserId" />
    <result column="ADDRESS_CREATEDATE" jdbcType="TIMESTAMP" property="addressCreatedate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ADDRESS_ID, ADDRESS_RECEIVE_NAME, ADDRESS_ADD, ADDRESS_MOBILE, ADDRESS_ZIPCODE, ADDRESS_STATE, 
    DD_USER_ID, ADDRESS_CREATEDATE
  </sql>
  <insert id="insert" parameterType="com.gxy.entity.DangdangAddress">
    <!--@mbg.generated-->
    insert into DANGDANG_ADDRESS (ADDRESS_ID, ADDRESS_RECEIVE_NAME, ADDRESS_ADD, 
      ADDRESS_MOBILE, ADDRESS_ZIPCODE, ADDRESS_STATE, 
      DD_USER_ID, ADDRESS_CREATEDATE)
    values (DD_ADDRESS_ID_SEQ.nextval, #{addressReceiveName,jdbcType=VARCHAR}, #{addressAdd,jdbcType=VARCHAR},
      #{addressMobile,jdbcType=VARCHAR}, #{addressZipcode,jdbcType=VARCHAR}, #{addressState,jdbcType=DECIMAL}, 
      #{ddUserId,jdbcType=DECIMAL}, #{addressCreatedate,jdbcType=TIMESTAMP})
    <selectKey keyProperty="addressId" resultType="decimal" order="AFTER">
      select DD_ADDRESS_ID_SEQ.currval from dual
    </selectKey>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-28-->
  <select id="selectByDdUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from DANGDANG_ADDRESS
    where DD_USER_ID=#{ddUserId,jdbcType=DECIMAL}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-28-->
  <select id="selectByAddressId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from DANGDANG_ADDRESS
    where ADDRESS_ID=#{addressId,jdbcType=DECIMAL}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-06-03-->
  <select id="selectAddressIdByAddressReceiveNameAndAddressAddAndAddressZipcodeAndAddressMobileAndDdUserId"
          resultType="java.math.BigDecimal">
    select ADDRESS_ID
    from DANGDANG_ADDRESS
    where ADDRESS_RECEIVE_NAME=#{addressReceiveName,jdbcType=VARCHAR} and ADDRESS_ADD=#{addressAdd,jdbcType=VARCHAR} and
    ADDRESS_ZIPCODE=#{addressZipcode,jdbcType=VARCHAR} and ADDRESS_MOBILE=#{addressMobile,jdbcType=VARCHAR} and
    DD_USER_ID=#{ddUserId,jdbcType=DECIMAL}
  </select>

</mapper>