<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.dao.DangdangOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.gxy.entity.DangdangOrderDetail">
    <!--@mbg.generated-->
    <!--@Table DANGDANG_ORDER_DETAIL-->
    <result column="DETAIL_ID" jdbcType="DECIMAL" property="detailId" />
    <result column="DETAIL_SSID" jdbcType="VARCHAR" property="detailSsid" />
    <result column="DETAIL_PRODUCT_NAME" jdbcType="VARCHAR" property="detailProductName" />
    <result column="DETAIL_COUNT" jdbcType="DECIMAL" property="detailCount" />
    <result column="DETAIL_DDPRICE" jdbcType="DECIMAL" property="detailDdprice" />
    <result column="DD_PRODUCT_ID" jdbcType="DECIMAL" property="ddProductId" />
    <result column="ORDER_SSID" jdbcType="VARCHAR" property="orderSsid" />
    <result column="ADDRESS_ID" jdbcType="DECIMAL" property="addressId" />
    <result column="DD_USER_ID" jdbcType="DECIMAL" property="ddUserId" />
    <result column="DETAIL_CREATEDATE" jdbcType="TIMESTAMP" property="detailCreatedate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    DETAIL_ID, DETAIL_SSID, DETAIL_PRODUCT_NAME, DETAIL_COUNT, DETAIL_DDPRICE, DD_PRODUCT_ID, 
    ORDER_SSID, ADDRESS_ID, DD_USER_ID, DETAIL_CREATEDATE
  </sql>
  <insert id="insert" parameterType="com.gxy.entity.DangdangOrderDetail">
    <!--@mbg.generated-->
    <selectKey keyProperty="detailId" order="BEFORE" resultType="java.math.BigDecimal">
      select DD_DETAIL_ID_SEQ.nextval from dual
    </selectKey>
    insert into DANGDANG_ORDER_DETAIL (DETAIL_ID, DETAIL_SSID, DETAIL_PRODUCT_NAME, 
      DETAIL_COUNT, DETAIL_DDPRICE, DD_PRODUCT_ID, 
      ORDER_SSID, ADDRESS_ID, DD_USER_ID, 
      DETAIL_CREATEDATE)
    values (#{detailId,jdbcType=DECIMAL}, #{detailSsid,jdbcType=VARCHAR}, #{detailProductName,jdbcType=VARCHAR}, 
      #{detailCount,jdbcType=DECIMAL}, #{detailDdprice,jdbcType=DECIMAL}, #{ddProductId,jdbcType=DECIMAL}, 
      #{orderSsid,jdbcType=VARCHAR}, #{addressId,jdbcType=DECIMAL}, #{ddUserId,jdbcType=DECIMAL}, 
      #{detailCreatedate,jdbcType=TIMESTAMP})
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-06-03-->
  <insert id="insertList">
        INSERT ALL
        <foreach collection="list" item="element">
            INTO DANGDANG_ORDER_DETAIL (
            DETAIL_ID,
            DETAIL_SSID,
            DETAIL_PRODUCT_NAME,
            DETAIL_COUNT,
            DETAIL_DDPRICE,
            DD_PRODUCT_ID,
            ORDER_SSID,
            ADDRESS_ID,
            DD_USER_ID
            )VALUES(
            DD_DETAIL_ID_SEQ.nextval,
            #{element.detailSsid,jdbcType=VARCHAR},
            #{element.detailProductName,jdbcType=VARCHAR},
            #{element.detailCount,jdbcType=DECIMAL},
            #{element.detailDdprice,jdbcType=DECIMAL},
            #{element.ddProductId,jdbcType=DECIMAL},
            #{element.orderSsid,jdbcType=VARCHAR},
            #{element.addressId,jdbcType=DECIMAL},
            #{element.ddUserId,jdbcType=DECIMAL}
            )
        </foreach>
        SELECT * FROM dual
    </insert>
</mapper>