<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxy.dao.DangdangProductMapper">
  <resultMap id="BaseResultMap" type="com.gxy.entity.DangdangProduct">
    <!--@mbg.generated-->
    <!--@Table DANGDANG_PRODUCT-->
    <id column="DD_PRODUCT_ID" jdbcType="DECIMAL" property="ddProductId" />
    <result column="DD_PRODUCT_NAME" jdbcType="VARCHAR" property="ddProductName" />
    <result column="DD_PRODUCT_AUTHOR" jdbcType="VARCHAR" property="ddProductAuthor" />
    <result column="DD_PRODUCT_IMG" jdbcType="VARCHAR" property="ddProductImg" />
    <result column="DD_PRODUCT_PRESS" jdbcType="VARCHAR" property="ddProductPress" />
    <result column="DD_PRODUCT_PRESSTIME" jdbcType="VARCHAR" property="ddProductPresstime" />
    <result column="DD_PRODUCT_EDITION" jdbcType="VARCHAR" property="ddProductEdition" />
    <result column="DD_PRODUCT_PRINTTIME" jdbcType="VARCHAR" property="ddProductPrinttime" />
    <result column="DD_PRODUCT_PRINTCOUNT" jdbcType="DECIMAL" property="ddProductPrintcount" />
    <result column="DD_PRODUCT_ISBN" jdbcType="VARCHAR" property="ddProductIsbn" />
    <result column="DD_PRODUCT_WORDCOUNT" jdbcType="VARCHAR" property="ddProductWordcount" />
    <result column="DD_PRODUCT_PAGECOUNT" jdbcType="VARCHAR" property="ddProductPagecount" />
    <result column="DD_PRODUCT_FORMAT" jdbcType="VARCHAR" property="ddProductFormat" />
    <result column="DD_PRODUCT_PAPER" jdbcType="VARCHAR" property="ddProductPaper" />
    <result column="DD_PRODUCT_PACK" jdbcType="VARCHAR" property="ddProductPack" />
    <result column="DD_PRODUCT_PRICE" jdbcType="DECIMAL" property="ddProductPrice" />
    <result column="DD_PRODUCT_DDPRICE" jdbcType="DECIMAL" property="ddProductDdprice" />
    <result column="DD_PRODUCT_COUNT" jdbcType="DECIMAL" property="ddProductCount" />
    <result column="DD_PRODUCT_ADDTIME" jdbcType="TIMESTAMP" property="ddProductAddtime" />
    <result column="DD_PRODUCT_RECOMMEND" jdbcType="VARCHAR" property="ddProductRecommend" />
    <result column="DD_PRODUCT_BRIEF" jdbcType="VARCHAR" property="ddProductBrief" />
    <result column="DD_PRODUCT_AUTHORBRIEF" jdbcType="VARCHAR" property="ddProductAuthorbrief" />
    <result column="DD_PRODUCT_DIRECTORY" jdbcType="VARCHAR" property="ddProductDirectory" />
    <result column="DD_PRODUCT_MEDIACOMMENT" jdbcType="VARCHAR" property="ddProductMediacomment" />
    <result column="DD_PRODUCT_EXCERPT" jdbcType="VARCHAR" property="ddProductExcerpt" />
    <result column="DD_CATEGORY2_ID" jdbcType="DECIMAL" property="ddCategory2Id" />
    <result column="DD_PRODUCT_CREATE_DATE" jdbcType="TIMESTAMP" property="ddProductCreateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    DD_PRODUCT_ID, DD_PRODUCT_NAME, DD_PRODUCT_AUTHOR, DD_PRODUCT_IMG, DD_PRODUCT_PRESS, 
    DD_PRODUCT_PRESSTIME, DD_PRODUCT_EDITION, DD_PRODUCT_PRINTTIME, DD_PRODUCT_PRINTCOUNT, 
    DD_PRODUCT_ISBN, DD_PRODUCT_WORDCOUNT, DD_PRODUCT_PAGECOUNT, DD_PRODUCT_FORMAT, DD_PRODUCT_PAPER, 
    DD_PRODUCT_PACK, DD_PRODUCT_PRICE, DD_PRODUCT_DDPRICE, DD_PRODUCT_COUNT, DD_PRODUCT_ADDTIME, 
    DD_PRODUCT_RECOMMEND, DD_PRODUCT_BRIEF, DD_PRODUCT_AUTHORBRIEF, DD_PRODUCT_DIRECTORY, 
    DD_PRODUCT_MEDIACOMMENT, DD_PRODUCT_EXCERPT, DD_CATEGORY2_ID, DD_PRODUCT_CREATE_DATE
  </sql>
    <select id="selectAll" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/> from DANGDANG_PRODUCT where rownum  <![CDATA[<]]> #{count,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-27-->
  <select id="selectByDdProductId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from DANGDANG_PRODUCT
    where DD_PRODUCT_ID=#{ddProductId,jdbcType=DECIMAL}
  </select>

  <select id="selectByDdCategory2Id" parameterType="decimal" resultMap="BaseResultMap">
    select * from DANGDANG_PRODUCT where DD_CATEGORY2_ID = #{categoryId,jdbcType=DECIMAL}
  </select>

  <select id="selectByDdCategory2IdList" resultMap="BaseResultMap" parameterType="list">
    select <include refid="Base_Column_List"/> from DANGDANG_PRODUCT
    <where>
      DD_CATEGORY2_ID in
      <foreach collection="list" item="c" separator="," open="(" close=")" index="">
          #{c.ddCategory2Id,jdbcType=DECIMAL}
      </foreach>
    </where>
  </select>
</mapper>